
body {
    font-family: "Nunito", sans-serif;
    background: url(images/fondo_body.png) no-repeat center center fixed;
    background-size: cover; /* Esto asegura que la imagen de fondo cubra toda la pantalla */
}

.container {
    display: flex;
    flex-direction: column;
}

.container-main {
    display: flex;
    flex-direction: column;
    margin: 5rem;
}


/* Logo CultivoUrbano */

.container-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 3rem;
}

/* Estilos para contenedor de los logos */
.logo-cultivo{
    margin-left: 6rem;
}

.logo-imagen {
    width: 250px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 100%; /* Mantiene la proporción de la imagen */
    justify-content:flex-start;
    margin-left: 3rem;
}

/* Logo SantaPlanta */
.logo-santaplanta {
    width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 100%; /* Mantiene la proporción de la imagen */
    margin-right: 2rem;/* Espacio a la derecha de la imagen */
}


p {
    color: #fefeff;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #fefeff;
    font-size: 5rem;
    font-weight: 100;
    margin-right: 8rem;
}

main h3 {
    font-family: "Montserrat", sans-serif;
    color: #fefeff;
}

/* Estilo para titulo "Productos" */
/* .main-title{
    margin-left: 2rem;
} */

.title-section{
    margin-left: 2rem;
}


.subtitle {
    bottom: -1em;
    font-size: 1.2em;
    color: gray;
    font-family: "Karla", sans-serif;
}

.filter-title{
    color: white;
    font-size: medium;
}

.filter-container {
    margin-left:2rem;
}


/* Estilos para el carrito de compras */
#cart-list {
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden; /* Ocultar scroll horizontal */
    color: #fefeff;
    margin-bottom: 1rem;
}

#cart-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%; /* Asegurar que el div hijo ocupe el ancho completo del contenedor */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

.test {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#total-price {
    font-weight: bold;
    font-size: 1.2em;
}

#empty-cart-message {
    color: #ccc;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 600;
}


/* Estilos para el icono del navbar */
#openCart {
    position: relative;
}

#cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 12px;
    padding: 4px 5px;
    margin: 0.5rem;
}


/* Estilos del carrito físico */
.carritoFisico {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 400px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 1000;
    box-sizing: border-box; /* Asegurar que padding y border se incluyan en el tamaño total */
    overflow-x: hidden; /* Ocultar scroll horizontal */
    background-color: #222427;
}

.carritoFisico.active {
    transform: translateX(0);
}

.carritoFisico h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.total-carrito {
    margin-left: 2rem;
}

#borrar {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

#finalize-purchase-btn, #clear-cart-btn {
    flex: 1;
    margin: 0 0.5rem;
}

.total-finalize {
    color: black !important;
    margin: 1.5rem;
}

/* Estilos para el icono del carrito */
.carrito {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito img {
    width: 60px;
    height: 60px;
}

/* Estilos para los productos en el carrito */
.prodEnCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.precioYCantidad {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cantidad {
    color: #000;
}



/* Estilos boton del carrito */
.btn-remove {
    background-color: #ff4d4d; /* Color de fondo */
    border-color: #ff1a1a; /* Color del borde */
    color: white; /* Color del texto */
    margin-left: 1rem; /* Espaciado a la izquierda */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.3rem 0.6rem; /* Espaciado interno */
    font-size: 0.9rem; /* Tamaño de la fuente */
    transition: background-color 0.2s, border-color 0.2s; /* Transición para hover */
    width: 100%;
    box-sizing: border-box;
}

.btn-remove:hover {
    background-color: #e60000; /* Color de fondo al pasar el mouse */
    border-color: #cc0000; /* Color del borde al pasar el mouse */
}

/* Boton finalizar compra */

#finalize-purchase-btn {
    margin-left: 2rem;
}

/* Boton cerrar carrito desplegable */
#closeCart {
    position: absolute; /* Posicionar el botón de forma absoluta dentro del contenedor */
    top: 0.5rem; /* Ajustar según el espacio deseado desde la parte superior */
    right: 0.5rem; /* Ajustar según el espacio deseado desde el borde derecho */
    font-size: small;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;   
}

#closeCart:hover{
    text-decoration: underline; /* Agrega subrayado */
    text-decoration-color: white; /* Cambia el color del subrayado a blanco */
}

/* Estilos para el input del formulario: */
/* Estilos para alinear labels e inputs centrados */
.swal2-form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 10px;
}

.swal2-form-group label {
    margin-bottom: 5px;
    font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.swal2-form-group input,
.swal2-form-group select {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
    padding: 5px;
}

/* Estilos para los botones de las cards */
.btn-primary {
    background-color: #28A745;
    border-color: #C8D300;
    color: white;
    margin: 0.3rem;
}

.btn-primary:hover {
    background-color: #0f7c09;
    border-color: #C8D300;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

.btn-info:hover {
    background-color: #117a8b;
    border-color: #117a8b;
}



/* Footer estilos */
footer {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-size: 14px;
    justify-content: center;
    gap: 20px;
    display: flex;
    padding: 20px;
}

footer .redes {
    color: white;
    text-decoration: none;
    margin-top: 60px;
    transition: color 1.5s; 
}

footer .redes:hover {
    color: #0A58CA;
}

footer .redes img {
    width: 24px;
    margin-right: 5px;
}


#product-details {
    display: none;
    margin-top: 20px;
}

#product-details .card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


/* Estilos para el input del filtro de categorias */

.form-control {
    width: auto;
    height: auto;
}


/* Cards productos */

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 90%;
    margin: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #555;
}

.btn {
    transition: background-color 0.2s, color 0.2s;
}



/* Modales */

.modal-content {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8f9fa;
    padding: 1rem 1.5rem;
}

.modal-title {
    font-size: 1.75rem;
}

.modal-body {
    padding: 1.5rem;
    font-size: 1rem;
}

.modal-footer {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8f9fa;
    padding: 1rem 1.5rem;
}

.close {
    font-size: 1.5rem;
    color: #333;
}

.close:hover {
    color: #000;
}

.modal-detalle {
    color: #222427;
    font-weight: 400;
    text-align: justify;
}

/* Navbar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 800; /* Asegura que esté por encima de otros elementos */
    border-bottom: 2px solid rgba(46, 47, 54, 0.8); /* Ajusta el color y la opacidad a tu gusto */
}

.navbar-brand img {
    height: 80px;
    margin-left: 1rem;
}

.nav-item .nav-link img {
    height: 40px;
    background:none;
    border: none;
}

/* Dropdown Carrito */
.dropdown-menu {
    max-width: 300px;
    min-width: 300px;
}

.dropdown-menu #cart-list {
    max-height: 300px;
    overflow-y: auto;
}

/* Estilos para el buscador */
.search-icon {
    width: 16px;
    height: 16px;
}

#searchForm {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding-right: 30px; /* Espacio para el icono de búsqueda */
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    width: 350px;
}

#searchForm button {
    background: none;
    border: none;
}

#searchForm button img {
    width: 20px;
    height: 20px;
}
